* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background: #D8D8D6;
	line-height: 30px;
	font-size: 18px;
	color: #161616;
}	

@font-face {
    font-family: 'AnyConv.com__Roboto-Medium.woff2';
    src: url("../fonts/AnyConv.com__Roboto-Medium.woff2"), format('woff2');
}
@font-face {
	font-family: 'VetrinoRegular.woff2';
	src: url("../fonts/VetrinoRegular.woff2"), format('woff2');

}

.wrapper{
	background: #81A36B;
	padding: 25px 0;
}

.header{
    margin: 0 auto;
	max-width: 1110px;
}

.header a{
	color: #161616;
	text-decoration: none;
}
.conteiner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
@media screen and (max-width: 950px){
	section{
		font-size: 16px;
		line-height: 1.5;
	}
}
@media screen and (max-width: 768px){
	section{
		font-size: 14px;
	}
}
main h2{
	font-family: 'VetrinoRegular.woff2', sans-serif;
    font-weight: 400;
}
@media screen and (max-width: 950px){

	main h2{
		font-size: 24px;
		margin-bottom: 20px;
	}

}

.header-logo{
	align-self: flex-start;
	text-transform: uppercase;
	font-size: 36px;
}
@media screen and (max-width: 1130px){
	.header-logo{
	margin: 0 20px;
}
}
.header-list{
	position: relative;
	display: flex;
	gap: 90px;
	font-family: 'VetrinoRegular.woff2', sans-serif;
    font-weight: 400;
}
@media screen and (max-width: 1130px){
	.header-list{
		gap: 35px;
		margin: 0 20px;
}
}
@media screen and (max-width: 950px){
	.header-list{
		gap: 30px;
		margin: 0 10px;
		font-size: 16px;
}
    .section{
	    gap: 20px;
}
   
}
@media screen and (max-width: 780px){
	.header-list{
		gap: 20px;
		font-size: 14px;
}
}
@media screen and (max-width: 768px){
	.header-list{
		display: none;
}
}

.container1{
	margin: 0 auto;
	max-width: 1110px;
}

.section{
	display: flex;
	gap: 30px;
	align-items: center;
	margin-bottom: 120px;
	
}
@media screen and (max-width: 1130px){
.section{
	gap: 20px;
}
}
@media screen and (max-width: 950px){
	.section{
		margin-bottom: 80px;
	}
	}

.content{
	flex: 1 1 48%;
	
}
@media screen and (max-width: 1130px){
	.content{
		padding: 10px;
		font-size: 16px;
		gap: 20px;
	}
}
@media screen and (max-width: 768px){
	.content{
		font-size: 14px;
		
	}
	.content img{
		width:50%;
		height: 50%;
	}
}
.content p{
	font-family: 'AnyConv.com__Roboto-Medium.woff2', sans-serif;
	font-weight: 400;
}
.content img{
	width: 100%;
	height: auto;
	object-fit: cover;
}
@media screen and (max-width: 768px){
	.content img{
		width:70%;
		height: 70%;
	}
}
.text {
	margin-top: 60px;
	
}
.flexbutton a{
	width: 190px;
	padding: 10px 15px;
	border: 1px solid #81A36B;
	text-decoration: none;
	color: #161616;
	text-align: center;
	font-family: 'AnyConv.com__Roboto-Medium.woff2', sans-serif;
	font-weight: 400;
}
.button {
	border: none;
	background:#81A36B;
	padding: 10px 20px;
	font-size: 18px;
	color: #161616;
	font-family: 'AnyConv.com__Roboto-Medium.woff2', sans-serif;
	font-weight: 400;
}
@media screen and (max-width: 950px){
	.flexbutton .button, .flexbutton a{
		padding: 0 10px;
		font-size: 12px;
		width: 190px;
	}
	
}

.button a{
	color: #161616;
	text-decoration: none;
}
.flexbutton{
	display: flex;
	margin: 50px 0 0;
	gap: 70px;
}
.section1{
	margin: 0 auto;
	max-width: 540px;
	margin-bottom: 120px;
}
@media screen and (max-width: 950px){
	.section1{
	margin-bottom: 80px;
	}
	
}
@media screen and (max-width: 768px){
	.section1{
	margin-bottom: 40px;
	}
	
}
h2{
	font-size: 32px;
	text-align: center;
	margin: 0 0 30px;
}
.section1 p{
	padding: 30px;
	text-align: center;
	font-family: 'AnyConv.com__Roboto-Medium.woff2', sans-serif;
	font-weight: 400;
}
@media screen and (max-width: 950px){
	.section1 p{
		padding: 10px;
		/* line-height: 1.5; */
	}
	.section1 h2{
		font-size: 20px;
	}
}
@media screen and (max-width: 768px){
	.section1 h2{
		font-size: 20px;
	}
}
.section2{
	background: #81A36B;
	padding: 80px 0;
}
@media screen and (max-width: 768px){
	.section2{
		padding: 40px 0;
	}
}

.layercont{
	margin: 0 auto ;
	max-width: 1110px;
}

.layer{
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}

li p{
	margin: 20px 0 0;
}
h3{
	text-align: center;
	font-size: 32px;
}
.section3{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 60px 0;
	margin-bottom: 100px;
}

.textsec3{
	padding: 60px 0;
}
@media screen and (max-width: 950px){
	.section3{
		gap: 15px;
		padding: 40px 10px;
		margin-bottom: 50px;
	}
	.textsec3{
		padding: 40px 10px;
		line-height: 1.5;
	}
}
@media screen and (max-width: 768px){
	.section3{
		margin-bottom: 40px;
	}
	.textsec3{
		padding: 20px 10px;
	}
}
.cards{
	display: flex;
	justify-content: center;
	gap: 30px;
	
}
@media screen and (max-width: 1110px){
	.cards{
		gap: 15px;
		margin: 0 10px;
	}
}
@media screen and (max-width: 950px){
	.cards{
		gap: 10px;
		margin: 0 5px;
	}
}

.card{
	width: 350px;
	background: #81A36B;
	text-align: center;
	padding: 15px;
}

.section4 h2{
	margin-bottom: 80px;
}
@media screen and (max-width: 768px){
	.section4 h2{
		font-size: 20px;
		margin-bottom: 40px;
	}
}
.card p{
	padding: 20px;
}
.card img{
	width: 100%; 
	height: auto; 
	object-fit: cover;
}
.footer{
	background: #81A36B;
	
}
.contact{
	font-size: 18px;
}

.contact li{
	margin: 20px 0 0;
}
.contact li:first-child{
	font-size: 24px;
	margin: 0;
}
.footer-contacts{
	display: flex;
	justify-content: space-between;
	padding: 60px 0;
}
@media screen and (max-width: 1130px){
	.footer-contacts{
		margin: 0 20px;
		padding: 30px 0;
	}
	
}
@media screen and (max-width: 950px){
	.footer-contacts{
		margin: 0 20px;
		padding: 10px 0;

	}
	.contact li{
		margin: 10px 0 0;
		font-size: 14px;
	}
}

.social a{
	display: inline-block;
}
.social img{
	margin: 5px;
}
.insta h3{
	font-size: 24px;
}
.sect{
	margin-bottom: 120px;
}
@media screen and (max-width: 950px){
	.sect{
		margin-bottom: 80px;
	}
}
@media screen and (max-width: 768px){
	.sect{
		margin-bottom: 40px;
	}
}
.data{
	text-align: center;
	padding: 30px 0;
}


/* burger */

.header .mobile-menu{
	display: none;
}
@media screen and (max-width: 768px){
	.header .mobile-menu{
		display: block;
	}
}
.mobile-menu a{
	text-decoration: none ;
	color: antiquewhite;
	border-bottom: 2px solid white;
}
.mobile-menu input{
	opacity: 0;
	z-index: -1;
}
.menu_btn{
	display: flex;
	text-align: center;
	position: fixed;
	top: 30px;
	right: 20px;
	width: 30px;
	height: 22px;
	z-index: 2;
	cursor: pointer;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after{
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	background-color: black;
}
.menu_btn > span::before{
	content: "";
	top: -8px;
}
.menu_btn > span::after{
	content: "";
	top: 8px;
}

.menu_list{
	position: fixed;
	top: 40px;
	right: -100%;
	width: 200px;
	height: auto;
	background: rgba(0, 0, 0, .2);
	text-align: center;
	font-size: 25px;
	padding: 20px;
	margin: 0 20px;
	border-radius: 5px;
}

.mobile-menu input:checked ~ .menu_list{
		right: 0;
		transition: .3s linear;
	}
